*{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
label,.info{font:normal 15px arial; color: #333; margin: 10px 0;}
/* Session 7 Assignment 1*/
    .block{margin: 30px auto; width:200px; background: #f5f5f5;box-shadow:1px 1px 1px 0px rgba(0,0,0,0.3); padding: 15px;}
    .block h3{font:bold 15px arial; color: #5d5c5c; margin-bottom: 15px;}
    button.like-btn {background-color: #009fda;border: 2px solid orange;border-radius: 5px;cursor: pointer;width: 80px;text-align: cemter;font:normal 15px arial; color: #333;padding: 5px 15px;color: #fff;outline: none;margin: 0 auto;display: block;}
    button.unliked {background: orange;}
/* Session 7 Assignment 1 Ends */
/* Session 7 Assignment 2 */
    .table-container{margin: 30px;}
    .table-block{border:1px solid #999; width:134px; text-align: center}
    .table-block td{padding:10px; font:normal 15px arial; background:#f5f5f5;}
    .table-block tr:nth-child(even) td{background:#fff;}
    table.odd-rows-hidden tr:nth-child(odd) {display: none;}
    .hide-button{font:normal 15px arial; color:#fff; border:0; padding:15px; cursor:pointer; background:#009fda;}
    .hide-button:disabled{opacity:0.3; filter:alpha(opacity=30); cursor:default;}
    #info{font:bold 15px arial; color:#ff0000; margin: 15px 0;}
/* Session 7 Assignment 2 Ends */
/* Session 7 Assignment 3 */
    
/* Session 7 Assignment 3 Ends */
/* Session 7 Assignment 4 */
    
/* Session 7 Assignment 4 Ends */